.modal{
    background-color: rgb(255, 122, 70);
    color: white;
    font-weight: bold;
    max-width: 600px;
    padding-bottom: 20px;
    text-align: center;
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
    padding: 20px;
    background-color: rgb(201, 97, 57);
    display: flex;
    justify-content: space-between;
}

.mainText{
    padding: 20px;
}

.bg_layer {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgb(121, 121, 121);
    opacity: 0.5;
}

.cross{
    cursor: pointer;
}