.root{
  margin: 0;
}

.mainWrapper{
  position: relative;
  text-align: center;
}

.shopHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 100px;
  background-color: rgb(43, 43, 43);
}

.shopTitle{
  color: white;
  font-style: italic;
  font-size: 44px;
  font-family: sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.basket{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  background-color: #fff;
  cursor: pointer;
}

.basket-counter{
  margin-left: 8px;
}