.btnWrapper{
    position: absolute;               
    top: 50%; 
    left: 50%;                        
    transform: translate(-50%, -50%);
}

.btn{
    padding: 20px;
    color: white;
    font-weight: bold;
    border: 2px solid;
    cursor: pointer;
}

