.card{
    position: relative;
    text-align: center;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: #fff;
}

.card img{
    max-width: 100%;
    height: auto;
}

.price{
    margin-bottom: 0;
}

.card-footer{
    font-style: italic;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.star{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: large;
    cursor: pointer;
}

.addToBasketBtn{
    background-color: black;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.addToBasketBtn:hover{
    background-color: rgb(90, 90, 90);
}