.modal{
    background-color: rgb(124, 124, 124);
    color: white;
    font-weight: bold;
    max-width: 600px;
    padding-bottom: 20px;
    text-align: center;
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.header{
    padding: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.mainText{
    padding: 20px;
}

.bg_layer {
    position: absolute;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgb(121, 121, 121);
    opacity: 0.5;
}

.cross{
    cursor: pointer;
}